<div class="input-page center-block">

	<!--<a ui-sref="inputs" class="back">BACK</a>-->
	<div class="back-button">
        <a ui-sref="{{vm.getBackPath()}}" class="back" ng-click="vm.clickBack()">BACK</a>
	</div>

	<page-controls></page-controls>

	<h1 class="heading-text bold-text">{{vm.title}}</h1>

	<!--<div class="input-text-highlighted">-->
	<!--{{vm.selectedDisease.name}}-->
	<!--</div>-->

	<!--<div ng-click="vm.selectAllDiseaseInfoTags()">-->
	<!--<h3 ng-class="{'input-text-highlighted': vm.selectedAllDiseaseInfoTags, 'input-text-normal': !vm.selectedAllDiseaseInfoTags, 'input-selection-hover': vm.inputSelectionHover1}"-->
	<!--ng-mouseenter="vm.inputSelectionHover1=true" ng-mouseleave="vm.inputSelectionHover1=false"-->
	<!-->-->
	<!--I'll take everything you've got on {{vm.selectedDisease.name}}-->
	<!--</h3>-->
	<!--</div>-->

	<div class="topic-selections">
		<!--<h3 class="input-text-normal">I want to know about:</h3>-->

		<div class="row topic-selections">
			<div ng-repeat="livingWithTag in vm.livingWithTags" class="col-md-4 col-sm-6 col-xs-12"
			     ng-class="{'input-text-normal': !vm.ckb[livingWithTag.tagId], 'input-text-highlighted': vm.ckb[livingWithTag.tagId]}">
				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="vm.ckb[livingWithTag.tagId]"
						       ng-change="vm.tagSelectionChange(livingWithTag)"><span ng-bind-html="livingWithTag.tagName | trust"></span>
						</input>
						<!--<input type="checkbox" ng-model="vm.ckb[livingWithTag.tagId]"-->
						       <!--ng-change="vm.tagSelectionChange(livingWithTag)">{{livingWithTag.tagName}}-->
						<!--</input>-->
					</label>
				</div>
			</div>
		</div>

		<br/>

		<div class="row topic-selections topic-selections-all">
			<div class="checkbox input-text-normal col-md-12">
				<label>
					<input type="checkbox" ng-model="vm.selectedAll"
					       ng-change="vm.selectAllChange()">Select all
					</input>
				</label>
			</div>
		</div>
	</div>


	<!--Press Enter or-->
	<!--<a ui-sref="results({diseaseId: {{vm.selectedDisease.id}} })"-->
	<a
	   class="btn link-continue link-continue-wider pull-right"
	   ng-disabled="vm.continueDisabled()" ng-click="vm.clickContinue()" role="button">Get Your Results</a>

	<!--<div>-->
	<!--<button ng-click="vm.viewSelectedTags()" class="btn">Selected Tags</button>-->
	<!--</div>-->
</div>