body {
  background-color: #3D1C44;
  overflow-x: hidden;
}
.container-fluid {
  padding: 0;
}
.main-view {
  float: left;
  width: 100%;
}
.hide-vertical-scroll {
  overflow-y: hidden;
}
a {
  background: transparent;
  word-wrap: break-word;
  -ms-word-break: break-all;
  /* Be VERY careful with this, breaks normal words wh_erever */
  word-break: break-all;
  /* Non standard for webkit */
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
.input-text-normal {
  color: #ffffff;
}
.input-text-highlighted {
  color: #14eff1;
}
.bold-text {
  font-weight: bold;
}
.input-selection-hover {
  color: #14eff1;
  cursor: pointer;
  cursor: hand;
}
.text-purple {
  color: #3d1c44 !important;
}
.contact-page {
  font-family: Helvetica, sans-serif;
  background: #73b2af url(../images/back-logo2.png) top right no-repeat;
  background-size: 30%;
  color: #3d1c44;
  float: left;
  width: 100%;
}
.contact-page-back {
  float: left;
  margin: 15px;
}
.contact-page-back-results {
  margin: 10px 0 0 15px;
  float: left;
  clear: left;
}
.contact-page .page-controls {
  margin: 10px;
}
.contact-page-main-content-container {
  float: left;
  width: 100%;
}
@media (min-width: 768px) {
  .contact-page-main-content {
    width: 80% !important;
  }
}
.contact-page-main-content {
  margin: 0 auto 0px auto;
  background: #FFF;
  padding: 10px;
}
.contact-page .btn-start-over {
  box-sizing: border-box;
  color: #ffffff;
  display: block;
  height: 30px;
  text-align: center;
  text-decoration: none;
  width: 230px;
  perspective-origin: 115px 15px;
  transform-origin: 115px 15px;
  background: #3d1c44 none repeat scroll 0% 0% / auto padding-box border-box;
  border: 0px none #ffffff;
  border-radius: 4px 4px 4px 4px;
  font: normal normal normal normal 16px/30px Helvetica, sans-serif;
  margin: 0px auto 10px;
  outline: #ffffff none 0px;
  padding: 1px 0px 0px;
}
.contact-page .btn-close {
  box-sizing: border-box;
  color: #ffffff;
  display: block;
  height: 30px;
  text-align: center;
  text-decoration: none;
  width: 230px;
  perspective-origin: 115px 15px;
  transform-origin: 115px 15px;
  background: #73b2af none repeat scroll 0% 0% / auto padding-box border-box;
  border: 0px none #ffffff;
  border-radius: 4px 4px 4px 4px;
  font: normal normal normal normal 16px/30px Helvetica, sans-serif;
  margin: 0px auto 10px;
  outline: #ffffff none 0px;
  padding: 1px 0px 0px;
}
.contact-page .btn-submit {
  color: #ffffff;
  cursor: pointer;
  height: 30px;
  text-align: center;
  width: 120px;
  align-items: flex-start;
  perspective-origin: 60px 15px;
  transform-origin: 60px 15px;
  background: #3d1c44 none repeat scroll 0% 0% / auto padding-box border-box;
  border: 0px none #ffffff;
  border-radius: 4px 4px 4px 4px;
  font: normal normal bold normal 14px / normal Helvetica, sans-serif;
  outline: #ffffff none 0px;
  padding: 1px 0px 0px;
}
.contact-header {
  float: left;
  width: 100%;
  clear: left;
  padding: 10px;
}
@media (min-width: 768px) {
  .contact-page h1 {
    font-size: 36px !important;
  }
}
.contact-page h1 {
  line-height: 24px;
  text-align: center;
  margin: 0 0 13px;
  font-weight: bold;
  font-size: 24px;
}
.contact-page h5 {
  font-size: 18px;
  margin: 0 0 10px;
  font-weight: bold;
}
.contact-page p.first {
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  max-width: 950px;
  margin: 0 auto 36px;
}
.contact-page p.second {
  font-size: 14px;
  line-height: 18px;
  margin: 0 0 36px;
}
.contact-form-list ul li {
  margin-bottom: 10px;
  color: #14eff1;
  font-size: 28px;
}
.contact-form-list ul li div {
  color: #3d1c44;
  font-size: 16px;
  line-height: 18px;
}
.control-label-large {
  font-size: xx-large;
}
.result-card {
  padding: 0;
  border: none;
}
.result-card .header {
  background-color: #3d1c44;
  color: #ffffff;
  padding: 15px 15px;
  margin: 0;
}
.result-card .body-normal {
  padding: 5px 20px;
}
.result-card .body-important {
  background-color: #3d1c44;
  color: #ffffff;
  padding: 5px 20px;
}
.result-card .view-button-normal,
.modal-close-button,
.modal-close-button:hover {
  background-color: #3d1c44;
  color: white;
}
.result-card .view-button-important {
  background-color: #14eff1;
  color: #3d1c44;
}
[dir=ltr] .result-card-grouped-link ul {
  padding-left: 15px;
}
.result-card-no-header-margin {
  margin-top: 10px;
}
input[type='checkbox'] {
  color: blue;
}
.back {
  background: url(../images/back-arrow.png) no-repeat;
  background-position: center left;
  color: #14eff1;
  font-size: 15px;
  text-transform: uppercase;
  padding-left: 18px;
  padding-top: 0px;
  text-decoration: none !important;
}
.back,
.back:visited,
.back:hover,
.back:active {
  color: #14eff1;
}
.back2 {
  background: url(../images/back-arrow2.png) no-repeat;
  background-position: center left;
  color: #3d1c44;
  font-size: 15px;
  text-transform: uppercase;
  padding-left: 40px;
  padding-top: 0;
  text-decoration: none !important;
}
.back2,
.back2:visited,
.back2:hover,
.back2:active {
  color: #3d1c44;
}
.prev-card-topic {
  background: url(../images/back-arrow3.png) no-repeat;
  background-position: center left;
  color: #3d1c44;
  font-size: 20px;
  font-weight: bold;
  padding-left: 30px;
  padding-top: 0;
  margin-left: 15px;
  margin-bottom: 20px;
  text-decoration: none !important;
}
.prev-card-topic,
.prev-card-topic:visited,
.prev-card-topic:hover,
.prev-card-topic:active {
  color: #3d1c44;
}
.next-card-topic {
  background: url(../images/next-arrow3.png) no-repeat;
  background-position: center right;
  color: #3d1c44;
  font-size: 20px;
  font-weight: bold;
  padding-right: 30px;
  padding-top: 0;
  margin-right: 15px;
  margin-bottom: 20px;
  text-decoration: none !important;
}
.next-card-topic:visited,
.next-card-topic:hover,
.next-card-topic:active {
  color: #3d1c44;
}
.btn-continue {
  background: #502c57;
  padding: 0;
  border: none;
  border-radius: 7px;
  font-weight: 700;
  font-size: 18px;
  color: #aba1ad;
  width: 160px;
  min-height: 50px;
  margin: 0 20px 20px 20px;
  z-index: 999;
}
.btn-result-nav {
  position: relative;
  margin: -20px -50px;
  width: 100px;
  left: 50%;
}
.btn-continue:enabled,
.btn-continue[enabled] {
  background: #14eff1;
  color: #3d1c44;
}
.btn-continue:disabled,
.btn-continue[disabled] {
  background: #502c57;
  color: #aba1ad;
}
.btn-continue.tag-nav {
  background: #502c57;
  color: #ffffff;
  width: auto;
  padding: 10px;
}
.link-continue {
  background: #14eff1;
  padding: 0;
  border: none;
  border-radius: 7px;
  font-weight: 700;
  font-size: 18px;
  color: #3d1c44;
  width: 160px;
  height: 50px;
  margin: 0;
  z-index: 999;
  text-align: center;
  line-height: 50px;
  clear: left;
}
.link-continue:enabled,
.link-continue[enabled] {
  background: #14eff1;
  color: #3d1c44;
}
.link-continue:disabled,
.link-continue[disabled] {
  background: #502c57;
  color: #aba1ad;
}
.link-continue-wider {
  width: 220px;
}
.text-left-align {
  text-align: left !important;
}
.input-page {
  background: #3d1c44 url(../images/back-logo.png) top right no-repeat;
  float: left;
  padding: 15px;
  width: 100%;
}
.input-page .form-horizontal .form-group {
  margin-top: 40px;
  margin-bottom: 10px;
}
.input-page .checkbox label {
  font-size: large;
}
.input-page .checkbox input[type="checkbox"] {
  margin-top: 5px;
}
.input-page .checkbox input[type="checkbox"]:checked {
  background-color: green;
}
.page-controls {
  float: right;
}
.back-button {
  float: left;
  margin: 8px 0 0 0;
}
.start-over {
  text-align: center;
  float: left;
  display: block;
  border: 2px solid #3d1c44;
  border-radius: 30px;
  width: 128px;
  height: 38px;
  line-height: 36px;
  z-index: 999;
  color: #3d1c44;
  font-size: 14px;
  text-transform: uppercase;
}
.start-over:hover {
  text-decoration: none;
  color: #3d1c44;
}
.main-input-body {
  float: left;
  clear: right;
}
@media (min-width: 768px) {
  .heading-text {
    font-size: 36px !important;
  }
}
.heading-text {
  color: #14eff1;
  float: left;
  clear: left;
  margin: 10px 0 10px 0;
  font-size: 24px;
  word-wrap: break-word;
  -ms-word-break: break-all;
  /* Be VERY careful with this, breaks normal words wh_erever */
  word-break: break-all;
  /* Non standard for webkit */
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
.topic-selections {
  float: left;
  clear: left;
}
.topic-selections-all {
  margin-top: 10px;
}
.next-previous-buttons {
  float: left;
  clear: left;
}
.result-page {
  float: left;
  padding: 0;
  width: 100%;
}
.result-page-header {
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 30px;
  background: #95c7c5;
  float: left;
  width: 100%;
}
.results-heading-text {
  margin: 40px 0 20px 0;
}
.result-page-main-content {
  background: #73b2af url(../images/back-logo3.png) bottom right no-repeat;
  padding: 10px;
  float: left;
  width: 100%;
}
.results-next-previous {
  float: left;
  width: 100%;
}
.result-page-footer {
  background: #3d1c44;
  float: left;
  text-align: center;
  width: 100%;
  margin: 10px 0 10px 0;
  padding: 5px;
}
.result-text-normal {
  color: #FFF;
}
.result-text-normal a {
  color: #FFF;
  text-decoration: underline;
}
.result-text-normal a:hover {
  color: #FFF;
  text-decoration: none;
}
@media (min-width: 768px) {
  .result-tag-name {
    font-size: 32px !important;
  }
}
.result-tag-name {
  padding: 10px 0 0 15px;
  font-size: 20px;
}
.result-tag-no-content {
  padding: 0 0 0 20px;
}
.cards {
  float: left;
  width: 100%;
}
.cards-padding {
  padding: 0px;
}
@media (min-width: 768px) {
  .cards-padding {
    padding: 10px;
  }
}
.card img, .view-more.modal-body img {
  display: block;
  max-width: 100%;
  height: auto;
}
.control {
  background-repeat: no-repeat;
  width: 38px;
  height: 38px;
  cursor: pointer;
  opacity: 1;
  z-index: 999;
  margin: 5px;
}
.view-more-button {
  margin-bottom: 10px;
}
.view-more-modal-header {
  padding: 10px 10px 10px 15px;
  background-color: #3d1c44;
  float: left;
  width: 100%;
}
.view-more-modal-title {
  color: white;
  background-color: #3d1c44;
  font-weight: bold;
  float: left;
  padding: 10px 0 0 0;
  margin: 0;
  width: 80%;
}
.view-more-close {
  float: right;
  width: 20%;
  text-align: right;
}
.view-more.modal-body {
  padding-left: 30px;
  padding-right: 30px;
  float: left;
  width: 100%;
  background: #fff;
}
.view-more-footer {
  float: left;
  width: 100%;
  background: #fff;
}
.basic-question {
  padding: 7px;
  float: left;
  width: 100%;
}
.view-more.modal-body a,
.view-more.basic-question a {
  text-decoration: underline;
  color: #003d79;
  cursor: pointer;
  cursor: hand;
}
.modal-body h3,
.basic-question h3 {
  color: #147089;
  font-size: 18px;
  margin-top: 0;
}
.modal-body h5,
.basic-question h5 {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 1.1em;
  color: #003d79;
  font-weight: bold;
  margin-bottom: 10px;
}
.on_page {
  width: 100%;
  padding: 15px 2% 15px 2%;
  float: left;
  margin: 20px 0 15px 0;
  border-bottom: #999999 1px dotted;
  border-top: #999999 1px dotted;
}
.on_page ul {
  float: left;
  width: 100%;
  padding: 0;
  margin: 0;
}
.on_page ul li {
  width: 46%;
  float: left;
  margin: 5px 0;
  background: url("../images/quest_list_arw.jpg") no-repeat scroll 0 7px transparent;
  padding: 0 2%;
  list-style: none;
}
.list_with_numbers li {
  list-style-type: decimal;
  margin: 5px 0 0 5px;
}
.well.well-no-padding {
  padding: 0;
}
.bold-font {
  font-weight: bold;
}
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}
.close-confirmation {
  background: #3d1c44;
  color: #FFF;
  padding: 20px 0;
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
}
.close-confirmation .close-confirmation-btn {
  display: inline-block;
  background: #14eff1;
  padding: 0;
  border: none;
  border-radius: 7px;
  font-weight: 700;
  font-size: 18px;
  color: #502c57;
  width: 160px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin: 0 6px;
  z-index: 999;
}
.close-confirmation-btn {
  margin: 10px 0 !important;
}
.close-confirmation-btn:hover {
  background-color: #14eff1;
  color: #502c57;
}
.well.basic-question {
  border-width: medium;
  border-color: #502c57;
}
.center {
  text-align: center;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.text-area-no-resize {
  resize: none;
}
[ui-view].ng-enter {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
[ui-view].ng-enter .result-page {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
#loadingSpinnerImg {
  display: block;
  margin: 10px auto;
  z-index: 10000;
}
#loadingResultSpinner {
  display: block;
  margin: 100px auto;
  z-index: 10000;
}
