<!--<view-more-content-header title="Your Questions Answered" modal-instance="modalInstance"></view-more-content-header>-->
<div class="close-confirmation">

	<div class="modal-body">
		Are you sure you want to exit?
		<br/>
		All of your information will be erased.

		<div class="row center">
			<button class="btn close-confirmation-btn" ng-click="ok()">Yes</button>
			<button class="btn close-confirmation-btn" ng-click="cancel()">Cancel</button>
		</div>
	</div>
</div>

<!--<div class="modal-footer">-->
<!--<button class="btn btn-primary" ng-click="vm.close()">Close</button>-->
<!--</div>-->