<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

  <system.webServer>
    <!--<rewrite>
      <rules>
        <rule name="MainRedirect">
          <match url="/"/>
          <action type="Redirect" url="/src/client/index.html"/>
        </rule>
      </rules>
    </rewrite>-->
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="index.html" />
        <add value="Default.htm" />
        <add value="Default.asp" />
        <add value="index.htm" />
        <add value="default.aspx" />
        <add value="index.php" />
      </files>
    </defaultDocument>
  </system.webServer>
  
</configuration>
